<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.hn">

    <!--&lt;!&ndash; 屏幕兼容模式配置 &ndash;&gt;-->
    <!--<supports-screens-->
    <!--android:anyDensity="true"-->
    <!--android:largeScreens="true"-->
    <!--android:normalScreens="true"-->
    <!--android:resizeable="true"-->
    <!--android:smallScreens="true"-->
    <!--android:xlargeScreens="true" />-->

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    //地图包、搜索包需要的基础权限
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.admin.hn.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.HNApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ceef31b08b872ea195c8e8631fb018e6" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.admin.hn.utils.UpdateManager"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.login.FindPasswordActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.login.ScanLoginActivity"
            android:theme="@style/Activity_Theme" />

        <activity
            android:name=".ui.account.OrderActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChangeLoginPasswordActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.InventoryActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChartActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.article.ArticleDetailsActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.PurchaseDetailActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ReturnDetailActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.OrderUseDetailActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ReadDrawDetailActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChartDetailsActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChangeBindPhoneNumberActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.AboutActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.NotsubmittedOrderActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.OverdueInventoryActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.PopActivity"
            android:theme="@style/Theme.translucent" />
        <activity
            android:name=".ui.account.ShipApplyingActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ReturnActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ShipApplyedActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ShipSelectActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.AuditingApplyingActivity"
            android:theme="@style/Activity_Theme" />
        //商城 ===============
        <activity
            android:name=".ui.shop.ShopTypeListActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.ShopCartActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.FirmOrderActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.PayActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.SelectAddressActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.ManagerAddressActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.CreateAddressActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.OrderManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.GoodsListActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.GoodsDetailActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.StepActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.SearchActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.SubmitCommentActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.ProvinceActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.CityActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.shop.AreaActivity"
            android:theme="@style/Activity_Theme" />
        //商城 ===============
        <activity
            android:name=".ui.account.MessageCenterActivity"
            android:theme="@style/Activity_Theme" />

        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGallery" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGallery" />

        <activity
            android:name=".ui.login.AgreementActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.OrderdetailsActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChartUpdateActivity"
            android:theme="@style/Activity_Theme" />
        <activity
            android:name=".ui.account.ChartUpdatedetailsActivity"
            android:theme="@style/Activity_Theme" />
        <activity android:name=".ui.account.HtmlActivity"></activity>

        User defined. For test only 用户自定义的广播接收器
        <!--<receiver-->
        <!--android:name=".receiver.MyReceiver"-->
        <!--android:enabled="true"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.REGISTRATION" />-->
        <!--&lt;!&ndash; Required  用户注册SDK的intent &ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
        <!--&lt;!&ndash; Required  用户接收SDK消息的intent &ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />-->
        <!--&lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />-->
        <!--&lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.CONNECTION" />-->
        <!--&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
        <!--<category android:name="com.example.admin.hn" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
